<h1>My tasks</h1>
<%= @task.title%>
<%= @task.status %>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Back', tasks_path %>
<%= button_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' } %>
  
